@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&family=Special+Elite&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: radial-gradient(circle at 50% -3.03%, #b166ff 0, #8155fa 25%, #4d42d4 50%, #0030ae 75%, #001f8a 100%);
    height: 100%;
}

body h4{
    margin-left: 150px;
    margin-left: 150px;
    font-size: 13pt;
    font-family: system-ui,-apple-system, Helvetica,Arial, sans-serif;
    color: rgba(255, 255, 255, 0.85);
    font-weight: bolder;
    text-align: left;
    width: 250px;
}

body h3{
    color:rgba(255, 255, 255, 0.85);
    font-family:  monospace;
    font-size: 18pt;
    margin: 0 auto;
    text-align: center;
}

footer{
    background: rgba(196, 196, 196, 0.11);
    backdrop-filter: blur(10px);
    border-top: solid 1px rgba(255, 255, 255, 0.452);
    text-align: center;
    padding: 5px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.85);
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

/*-----ANIMAÇÕES-----*/

.line{
    color:rgba(255, 255, 255, 0.85);
    /*font-family: 'Special Elite', monospace;*/
    font-family: 'Space Mono', monospace;
    font-size: 18pt;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.85);
    white-space: nowrap;
    overflow: hidden;
}
.line2{
    color:rgba(255, 255, 255, 0.85);
    /*font-family: 'Special Elite', monospace;*/
    font-family: 'Space Mono', monospace;
    font-size: 18pt;
    margin: 0 auto;
    margin-bottom: 15px;
    white-space: nowrap;
    overflow: hidden;
}
.enf{
    color:rgba(255, 255, 255, 0.85);
    font-family: 'Special Elite', monospace;
    white-space: wrap;
    overflow: hidden;
}
.typing-animation {
    animation: blinkCursor 500ms steps(100) infinite normal, typing 3.8s steps(100) 0s normal;
}
.typing-animation2{
    animation: typing2 3.8s steps(1000) 4s normal;
}
.test-animation{
    animation: test 4s steps(100) 0s normal;
}

@keyframes blinkCursor{
    from{
       border-right-color: rgba(255, 255, 255, 0.85);
    }
    to{
        border-right-color: transparent;
    }
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 41em;
    }
}
@keyframes typing2{
    from{
        width: 0;
    }
    to{
        width: 15em;
    }
}
@keyframes test{
    from{
        width: 0;
    }
    to{
        width: 33em;
    }
}

/*-----MENU-----*/

header#menu{
    margin: 0;
    padding: 0;
}
header#menu a {
    color: #fff;
    text-decoration: none;
    transition:0.3s;
}
header#menu a:hover {
    opacity: 0.7;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui,-apple-system, Helvetica,Arial, sans-serif;
    background:#23232e;
    height: 8vh;
    text-align: left;
    width: 100%;
    background: rgba(196, 196, 196, 0.11);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: solid 1px rgba(255, 255, 255, 0.452);
}
.logom {
    font-size:24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.logos{
   width: 60px;
}
.logos1{
    width: 100px;
}
.titulo-competencias{
margin-top: 130px;
}


/*-----SOBRE MIM-----*/

.needme{
    font-size: 13pt;
    font-family: monospace;
    color:rgba(255, 255, 255, 0.85);
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
}
.aboutme{
    margin-left: 150px;
    font-size: 13pt;
    font-family: monospace;
    color: rgba(255, 255, 255, 0.85);
    font-weight: bolder;
    text-align: left;
    width: 250px;
    margin-bottom: 15px;
}
.about{
    background-color: #4d42d4;
    padding: 10px;
    text-align: center;
    border: none;
    box-shadow: 1px 1px 1px black;
    color: rgba(255, 255, 255, 0.85);
    font-family: monospace;
    margin: 17px;
    cursor: pointer;
}
.competencias{
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
}
div#container{
    width: 400px;
    margin: auto;
    padding: 14px;
    background-color: rgba(255, 255, 255, 0.11);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10;
}
.profile{
    margin: auto;
    display: block;
    width: 250px;
    border-radius: 50%;
    align-self: center;
}

/*-----RODAPÉ-----*/

.imgfooter{
    width: 30px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
}